body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0; 
    background-color: #FFFFFF;
    font-family: Arial, Verdana, sans-serif;    
  }
  
.title {
    text-align: center;
    color: #000;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.4); 
    color: #4169E1;
  }

.author {
    color: #6829A1;
}

.author a {
    text-decoration: none;
}